*.atsuo
*.swp
*.atsln~
*.o
*.d
*.a
*.eep
*.elf
*.hex
*.map
[Dd]ebug/
[Rr]elease/
*.autosave
*.fpc.bak
*~
[Aa]utosave/
pcb/x.fpl
40-DIP.jpg
*.raw
pad30/Cont1Netv2.log
0600-00039_S151.pdf
c.csv
m.csv
p.csv
mGPS/M10478-A3_12MD-0050-2-PS.png
mGPS/CAM/Thumbs.db
mGPS/mGPS-10478.csv
CAM.zip
